.grad{
    height: 1000px;
    background: lightblue;
    background: linear-gradient(#24c6dc,#514a9d);
}
.jumbotron{
    background-color: transparent;
    font-family: 'Cabin Sketch', cursive;
}

h1{
    font-size: 60px;
    text-align: center;
}

.container2{
    float: left;


}

.container3{
    float: right;
}

img {
    width: 100%;
}

th {
    font-size: 24px;
}
